<?php
/**
 * Functions for the <%= conf.themeName %> theme.
 *
 * @package <%= conf.themeName %>
 */

// Enqueue local scripts
require_once('library/enqueue-scripts.php');

// Get missing content
require_once('library/get-missing-content.php');

// Print the rev path
require_once('library/the-rev-path.php');